class ExcelDiff < Formula
  desc "A tool for comparing Excel workbooks"
  homepage "https://github.com/dvora/excel_diff"
  version "{{VERSION}}"
  license "MIT"

  on_macos do
    url "https://github.com/dvora/excel_diff/releases/download/v{{VERSION}}/excel-diff-v{{VERSION}}-macos-universal.tar.gz"
    sha256 "{{SHA256}}"
  end

  def install
    bin.install "excel-diff"
  end

  test do
    system "#{bin}/excel-diff", "--version"
  end
end

