class Tabulensis < Formula
  desc "Tabulensis CLI for comparing Excel workbooks"
  homepage "https://tabulensis.com"
  version "{{VERSION}}"
  license "MIT"

  on_macos do
    url "https://github.com/dvora/excel_diff/releases/download/v{{VERSION}}/tabulensis-v{{VERSION}}-macos-universal.tar.gz"
    sha256 "{{SHA256}}"
  end

  def install
    bin.install "tabulensis"
  end

  test do
    system "#{bin}/tabulensis", "--version"
  end
end

